*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 50%;
    margin: 100px auto;
    padding: 0 20px;
    display: grid;
    grid-template: repeat(16,55px) / repeat(13,54px);
    grid-template-areas:
    ".  bordeTop bordeTop bordeTop bordeTop bordeTop bordeTop bordeTop bordeTop bordeTop bordeTop bordeTop ."
    " borderRight background background background background background background background background background background background   borderLeft "
    " borderRight background background background background background background background background background background background   borderLeft "
    " borderRight background background background background background background background background background background background   borderLeft "
    " borderRight background background background background background background background background background background background   borderLeft "
    " borderRight background background background background background background background background background background background   borderLeft "
    " borderRight background background background background background background background background background background background   borderLeft "
    " borderRight background background background background background background background background background background background   borderLeft "
    " borderRight background background background background background background background background background background background   borderLeft "
    " borderRight background background background background background background background background background background background   borderLeft "
    " borderRight background background background background background background background background background background background   borderLeft "
    " borderRight background background background background background background background background background background background   borderLeft "
    " borderRight background background background background background background background background background background background   borderLeft "
    " borderRight background background background background background background background background background background background   borderLeft "
    " . borderBottom borderBottom borderBottom borderBottom borderBottom borderBottom borderBottom borderBottom borderBottom borderBottom borderBottom  . ";
}

/* PARA PRÁCTICAR EL USO DE AREA TEMPLATE */

/* Borde */

.container .bordeExteriorTop,
.container .bordeExteriorLeft,
.container .bordeExteriorBottom,
.container .bordeExteriorRight{
    background-color:#040C0E ;
    
}

.container .bordeExteriorTop{
    grid-area: bordeTop;
}

.container .bordeExteriorLeft{
    grid-area: borderLeft;
}

.container  .bordeExteriorBottom{
    grid-area: borderBottom;
}
.container .bordeExteriorRight{
    grid-area: borderRight;

}

/* Background*/
.container .background{
    grid-area: background;
    background-color: #71A598;
}

/* PARA PRÁCTICAR LA OTRA FORMA  */

/* Botones */
.container .boton1{
    grid-row: 13/14;
    grid-column: 9/10;
    background-color: #FF0000;
   
}

.container .boton2{
    grid-row: 12/13;
    grid-column: 8/9;
    background-color: #00FFFF;
}

.container .boton3{
    grid-row: 12/13;
    grid-column: 10/11;
    background-color: #00FF00;
}

.container .boton4{
    grid-row: 9/8;
    grid-column: 9/10;
    background-color: #0000FF;
}


/* CRUZ */

.container .verticalLine,
.container .horizontalLine{
    background-color: #E5CC4C;
}

.container .verticalLine {
    grid-row: 10/13;
    grid-column: 4/5;
}

.container .horizontalLine{
    grid-row: 11/12;
    grid-column: 3/6;
}




