*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 50%;
    margin: 100px auto;
    padding: 0 20px;
    border: solid 1px red ;
    display: grid;
    grid-template-areas:


    "- " ;
}


